/* Dance Section */
.dance {
    padding: 4rem 1rem;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  .dance h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #1a1a1a;
  }
  
  .dance p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    color: #555555;
  }
  
  /* Video Grid and Thumbnails */
  .video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
  }
  
  .video-thumbnail {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    overflow: hidden; /* To ensure iframe fits well */
  }
  
  .video-thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .thumbnail-image, iframe {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .video-title {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #333;
    text-align: center;
  }
  
  /* Close Button Styling */
  .close-modal-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #c5a3ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-modal-button:hover {
    background-color: #a585e0; /* Slightly darker on hover */
  }
  
  /* Modal Styling */
  iframe {
    border-radius: 8px;
  }
  
  .ReactModal__Overlay {
    background: rgba(0, 0, 0, 0.7) !important;
  }
  
  .ReactModal__Content {
    border: none;
    padding: 2rem;
    max-width: 700px;
    margin: auto;
    background-color: #ffffff;
    color: #333;
    border-radius: 10px;
  }
  
  /* Dark Mode Styles */
  body.dark-mode .dance {
    background-color: #1a1a1a;
    color: #e5e5e5;
  }
  
  body.dark-mode .dance h2,
  body.dark-mode .dance p {
    color: #e5e5e5;
  }
  
  body.dark-mode .video-thumbnail {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }
  
  body.dark-mode .video-thumbnail:hover {
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
  }
  
  body.dark-mode .thumbnail-image, 
  body.dark-mode iframe {
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }
  
  body.dark-mode .video-title {
    color: #bbbbbb;
  }
  
  body.dark-mode .close-modal-button {
    background-color: #b589e2;
    color: #ffffff;
  }
  
  body.dark-mode .close-modal-button:hover {
    background-color: #d3a6ff;
  }
  
  body.dark-mode .ReactModal__Content {
    background-color: #2a2a2a;
    color: #e5e5e5;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
  }
  